{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock head %}

{% block body %}
    
    <div class="center">
        <p>Login Form</p>
        <form action="" method="post">
            {% csrf_token %}

            <div class="data-field">
                <label for="login">{{form.login.label}}</label>
                <div class="input-holder">{{form.login}}
                    {% if form.errors.login %}

                    <div class="error-icon">
                        <div class="error-message">
                            {{form.errors.login}}
                        </div>
                    </div>

                    {% endif %}
                </div>
            </div>

            <div class="data-field">
                <label for="password">{{form.password.label}}</label>
                <div class="input-holder">{{form.password}}
                    <a class="link-password" href="{% url 'recover-password-email' %}">Do not remember?</a>
                    {% if form.errors.password %}

                    <div class="error-icon">
                        <div class="error-message">
                            {{form.errors.password}}
                        </div>
                    </div>

                    {% endif %}
                </div>
            </div>

            <button type="submit">Login in</button>

            <div class="do-not-have-account">You do not have an account? <a href="{% url 'register' %}"> Sign up </a> </div>

        </form>
    </div>

    <script>
        const login_input = document.getElementById('id_login')
        const password_input = document.getElementById('password_input')

        login_input.addEventListener('input', () => {
            login_input.classList.remove('invalid');
        }, false)

        password_input.addEventListener('input', () => {
            password_input.classList.remove('invalid');
        }, false)

        const invalidLogin = () =>{
            login_input.classList.add('invalid')
        }
    
        const invalidData = () =>{
            login_input.classList.add('invalid')
            password_input.classList.add('invalid')
        }
    </script>

    {% if form.errors.login %}
        <script>
            invalidLogin()
        </script>
    {% endif %}

    {% if form.errors.password %}
        <script>
            invalidData()
        </script>
    {% endif %}

{% endblock body %}