{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock head %}

{% block body %}
    
    <div class="center">
        <p>Login Form</p>
        <form action="" method="post">
            {% csrf_token %}

            <label for="login">{{form.login.label}}</label>
            {{form.login}}

            <label for="password">{{form.password.label}}</label>
            {{form.password}}

            <button type="submit">Login in</button>

            <div class="do-not-have-account">You do not have an account? <a href="{% url 'register' %}"> Sign up </a> </div>

            {{form.errors.login}}
            {{form.errors.password}}

        </form>
    </div>

{% endblock body %}