{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock head %}

{% block body %}
    
    <div class="center">
        <p>Recover password form</p>
        <form action="" method="post">
            {% csrf_token %}

            <div class="data-field">
                <label for="login">{{form.password.label}}</label>
                <div class="input-holder">{{form.password}}
                    {% if form.errors.password %}

                    <div class="error-icon">
                        <div class="error-message">
                            {{form.errors.password}}
                        </div>
                    </div>

                    {% endif %}
                </div>
            </div>

            <div class="data-field">
                <label for="login">{{form.password2.label}}</label>
                <div class="input-holder">{{form.password2}}
                    {% if form.errors.password2 %}

                    <div class="error-icon">
                        <div class="error-message">
                            {{form.errors.password2}}
                        </div>
                    </div>

                    {% endif %}
                </div>
            </div>

            <button type="submit">Change password</button>

        </form>
    </div>

    <script>
        const password_input = document.getElementById('id_password')
        const password2_input = document.getElementById('id_password2')

        password_input.addEventListener('input', () => {
            password_input.classList.remove('invalid');
        }, false)

        const invalidPassword = () =>{
            password_input.classList.add('invalid')
        }
    
    </script>

    {% if form.errors.password %}
        <script>
            invalidPassword()
        </script>
    {% endif %}


{% endblock body %}