{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock head %}

{% block body %}
    
    <div class="center">
        <p>Recover password form</p>
        <form action="" method="post">
            {% csrf_token %}

            <div class="data-field">
                <label for="login">{{form.email.label}}</label>
                <div class="input-holder">{{form.email}}
                    {% if form.errors.email %}

                    <div class="error-icon">
                        <div class="error-message">
                            {{form.errors.email}}
                        </div>
                    </div>

                    {% endif %}
                </div>
            </div>


            <button type="submit">Send</button>

            <div class="do-not-have-account">You do not have an account? <a href="{% url 'register' %}"> Sign up </a> </div>

        </form>
    </div>

    <script>
        const email_input = document.getElementById('id_email')

        email_input.addEventListener('input', () => {
            email_input.classList.remove('invalid');
        }, false)

        const invalidEmail = () =>{
            email_input.classList.add('invalid')
        }
    
    </script>

    {% if form.errors.email %}
        <script>
            invalidEmail()
        </script>
    {% endif %}


{% endblock body %}