{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock head %}

{% block body %}
    <div class="center">
        <p>Register</p>
        <form action="" method="post">
            {% csrf_token %}

            <label for="">{{form.username.label}}</label>
            {{form.username}}
           
            <label for="">{{form.password1.label}}</label>
            {{form.password1}}

            <label for="">{{form.password2.label}}</label>
            {{form.password2}}

            <button type="submit" name="register_second_step" value="something">Email verification ></button>
            <div class="have-account">Have an account? <a href="{% url 'login' %}"> Login in </a> </div>

            {{form.errors.username}}
            {{form.errors.password2}}
        </form>
    </div>
{% endblock body %}