{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock head %}

{% block body %}
    <div class="center">
        <p>Register</p>
        <form action="" method="post">
            {% csrf_token %}

            <div class="data-field">
                <label for="">{{form.username.label}}</label>
                <div class="input-holder">
                    {{form.username}}

                    {% if form.errors.username %}

                    <div class="error-icon">
                        <div class="error-message">
                            {{form.errors.username}}
                        </div>
                    </div>

                    {% endif %}

                </div>
            </div>
            <div class="data-field">
                <label for="">{{form.password1.label}}</label>
                <div class="input-holder">
                    {{form.password1}}

                    {% if form.errors.password1 %}

                    <div class="error-icon">
                        <div class="error-message">
                            {{form.errors.password1}}
                        </div>
                    </div>

                    {% endif %}
                </div>
            </div>
            <div class="data-field">
                <label for="">{{form.password2.label}}</label>
                <div class="input-holder">
                    {{form.password2}}

                    {% if form.errors.password2 %}

                    <div class="error-icon">
                        <div class="error-message">
                            {{form.errors.password2}}
                        </div>
                    </div>

                    {% endif %}
                </div>
                
            </div>
            
            <div class="buttons">
                <a class="button" href="{% url 'register-first-step' %}"> < Back</a>
                <button type="submit">Email verification ></button>
            </div>
        
            <div class="have-account">Have an account? <a href="{% url 'login' %}"> Login in </a> </div>
        </form>
    </div>


    <script>
        const username_input = document.getElementById('id_username')
        const password1_input = document.getElementById('id_password1')
        const password2_input = document.getElementById('id_password2')

        username_input.addEventListener('input', () => {
            username_input.classList.remove('invalid')
        }, false)

        password2_input.addEventListener('input', () => {
            password2_input.classList.remove('invalid')
        }, false)

        password1_input.addEventListener('input', () => {
            password1_input.classList.remove('invalid')
        }, false)


        const invalidData = (id_elem) =>{
            elem = document.getElementById(id_elem)
            elem.classList.add('invalid')
        }
    </script>

    {% if form.errors.username %}
        <script>
            invalidData('id_username')
        </script>
    {% endif %}

    {% if form.errors.password2 %}
        <script>
            invalidData('id_password1')
            invalidData('id_password2')
        </script>
    {% endif %}

{% endblock body %}