{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock head %}

{% block body %}
    <div class="center">
        <p>Register</p>
        <form action="" method="post">
            {% csrf_token %}

            <label for="">{{form.first_name.label}}</label>
            {{form.first_name}}
           
            <label for="">{{form.last_name.label}}</label>
            {{form.last_name}}

            <label for="">{{form.email.label}}</label>
            {{form.email}}

            <button type="submit" name="register_first_step" value="something">Next step ></button>
            <div class="have-account">Have an account? <a href="{% url 'login' %}"> Login in </a> </div>

            {{errors.first_name}}
            {{errors.last_name}}
            {{errors.email}}
        </form>
    </div>
{% endblock body %}